<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sip&dip</title>
    <!-- css -->
    <link rel="stylesheet" href="/app/css/style.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Emilys Candy' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
    <!-- js -->
    <script defer type="text/javascript" src="/app/js/index.js"></script>
</head>
<body class="navsearchrow">
    
   
    <div class="container-fluid">
        <div class="row">
            <div class="rec1">
                <br>
                <div class="rec2">
                    <div class="col">
                        <!-- logo and header -->
                        <!-- <img class="img-responsive" src="/app/images/header.png" alt="sipanddip header and logo"> -->
                        <div id="top_left_image">
                            <img class="img-fluid leftglasses" src="/app/images/leftthreeorangeglasses.png" alt="top_left_image">
                        </div>
                    </div>
                    <div class="col">
                        <div id="logo">
                            <img class="img-fluid sipndiplogo" src="/app/images/icon.png">
                        </div>
                    </div>
                    <div class="col">
                        <div id="top_right_image">
                            <img class="img-fluid rightglasses" src="/app/images/rightglasses.png" alt="top_right_image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- nav section -->
        <div class="row navsearchrow">
            <div class="col" id="welcometxt">
                <br>
                <!-- <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#"><span class="nav_text">Sip & Dip</span></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"><span class="nav_text">Home</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="alcohol"><span class="nav_text">Alcoholic</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="nonalcoholic"><span class="nav_text">Non-Alcoholic</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="random"><span class="nav_text">Random</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="glass"><span class="nav_text">Glass</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="flute"><span class="nav_text">Flute</span></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                </nav> -->
            <!-- welcome message -->
            <br>
            <h4>Welcome to Sip and Drink.</h4>
            <h5>Home of all alcoholic and non-alcoholic cocktails</h5>
            <br><br>
            <p>When in need of a drink, just search its name or ingridients on the search bar and we will be happy to help.<br> After the results apppear click the orange button below the image to view the ingredients and recipe of the drink</p>
            <p>Out of ideas? Press random and it will generate for you a random drink.</p>
            <h5>FURAHA NI KUKUNYWA NA MARAFIKI</h5>
            </div>
            <img src="/app/images/line1.png" alt="boundary between nav and search">
        </div>    

        <!-- search section -->
        <div class="row navsearchrow">
            <div class="col-md-2"></div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <br><br>
                <form id="searchform">
                    <input id="name" class="search_bar" type="text" placeholder="Search your alcohol here.." name="search">
                    <button id= "searchbtn" type="submit"><i class="fa fa-search"></i></button>
                </form>
                <br>
            </div>
            <div class="col-md-2">
              <br><br>
              <button id="randombtn">Random Drink Generator</button>
            </div>
        </div>
        <br>
        <!-- search results section -->
        <div id="cocktailcards">

        </div>
        <!-- footer -->
        <!-- <footer>
            <p> By Wanjiku</p>
            <p>2022</p>
        </footer> -->
    </div>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>